{% extends 'base/base.html' %}
{% load static %}
{% block dynamic_content %}
    <center>
        <h1 style="margin-top: 50px;">Reastablecer contraseña</h1>
        <p style="margin: 50px;font-size: 20px">
            ¿Olvidaste tu contraseña? Ingrese su dirección de correo electrónico a continuación y le enviaremos
            instrucciones por correo electrónico para configurar una nueva.
        </p>
        <div class="form">
            <form method="POST">
                {% csrf_token %}
                {{ form }}
                <button class="btn">
                <span>Enviar</span>
            </button>
            </form>
        </div>
    </center>

{% endblock %}