{% extends 'base/base.html' %}
{% load static %}
{% block dynamic_content %}
    <center>
        <h1 style="margin-top: 50px;">Introduzca una nueva contraseña</h1>
        <p style="margin: 50px;font-size: 20px">
            Ingrese su nueva contraseña dos veces para que podamos verificar que la escribió correctamente.
        </p>
        <div class="form">
            <form method="POST">
                {% csrf_token %}
                {{ form }}
                <button class="btn">
                    <span>Confirmar</span>
                </button>
            </form>
        </div>
    </center>

{% endblock %}