{% extends 'base/base.html' %}
{% load static %}
{% block dynamic_content %}
    <center>
        <h2 style="margin-top: 50px;">Restablecimiento de contraseña enviado</h2>

        <p style="margin:50px; font-size: 20px">Le hemos enviado instrucciones por correo electrónico para establecer su
            contraseña, si
            existe una cuenta
            con el correo electrónico que ingresó. Deberías recibirlos en breve.</p>

        <p style="font-size: 20px">Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección con la
            que se registró y
            verifique su carpeta de correo no deseado.</p>
    </center>

{% endblock %}