{% extends 'base/base.html' %}
{% load static %}
{% block dynamic_content %}
    <div class="profile-container">
        <h1>@{{ profile.user_name }}</h1>
        <h2>({{ profile.first_name }} {{ profile.last_name }})</h2>
        <h3>{{ profile.email }}</h3>
        {% if profile.profile_image %}
            <div class="profile-image"><img src="{{ profile.profile_image.url }}" alt="profile photo"/></div>
        {% endif %}
        <p>Profile created: {{ profile.start_time }}</p>
        <p>{{ profile.about }}</p>

        {% if user.is_active %}
            <a href="{% url 'profile edit' profile.pk %}">
                <button class="home-reg-log-buttons">Editar</button>
            </a>
            {#        <a href="{% url 'delete gymnast' profile.pk %}">#}
            {#            <button class="home-reg-log-buttons">Borrar</button>#}
            {#        </a>#}
        {% endif %}
    </div>
{% endblock %}