{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CR la Unió Viladecans</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"/>
    <link rel="shortcut icon" href="{% static 'favicons/favicon.ico' %}"/>

</head>
<body>

<header class="header">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="logo">
                <a href="{% url 'show index' %}"><img id="logo-bar" src="{% static 'images/club_photos/Logo.png' %}"
                                                      alt="logo"></a>
            </div>
            {% if request.user.is_autentiated %}
                <div class="user-nav-display">Hello {{ user.username }}</div>
            {% endif %}

            <button type="button" class="nav-toggler">
                <span></span>
            </button>
            <nav class="nav">
                <ul>
                    {#                    class="active"#}
                    <li><a href="{% url 'show index' %}">Inicio</a></li>
                    <li><a href="#">Gimnastas</a></li>
                    <li><a href="#">Entrenadoras</a></li>
                    <li><a href="#">Directiva</a></li>
                    <li><a href="#">Contacto</a></li>
                    {% if  user %}
                        <li><a href="#">Competiciones</a></li>
                        <li><a href="#">Notas</a></li>
                        <li><a href="#">Prefil</a></li>
                        <li><a href="{% url 'logout' %}">Cerrar la sesión</a></li>

                    {% elif user == None %}
                        <li><a href="{% url 'register page' %}">Registrarte</a></li>
                        <li><a href="{% url 'login page' %}">Iniciar sesión</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</header>
<script src="{% static 'js/script.js' %}"></script>
{% block dynamic_content %}
{% endblock %}

<footer>
    <div>
        &copy;Pako™ 2022. All rights reserved.
    </div>
</footer>
</body>


</html>