@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');
#welcome-message{

    text-align: center;
}

.register-container {
    background-color: transparent;
    width: 37%;
    height: 500px;
    margin: 0 0 0 30%;
    background-image: url(../images/club_photos/Logo.png);
}

.register-container input {
    border-color: #9c27b0;
    display: block;
}



.center {
    width: 180px;
    height: 60px;
    position: absolute;
}

.btn {
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: limegreen;
    border: 1px solid #ffffff;
    outline: none;
    transition: 1s ease-in-out;
}

svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #d90000;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
}

.btn:hover {
    transition: 1s ease-in-out;
    background: #c63df3;
}

.btn:hover svg {
    stroke-dashoffset: -480;
}

.btn span {
    font-size: 18px;
    font-weight: 100;
}