@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');
#container-inline {
    background-image: url("/images/launio_logo.jpg");
}
#welcome-message{
    text-align: center;
}

.register-container {
    background-color: transparent;
    width: 20%;
    margin: 0 10% 0 40%;
}

.register-container input {
    border-color: #9c27b0;
    display: block;
}


.center {
    width: 180px;
    height: 60px;
    position: absolute;
}

.btn {
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: limegreen;
    border: 1px solid deeppink;
    outline: none;
    transition: 1s ease-in-out;
    border-radius: 8px;
}

svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
}

.btn:hover {
    transition: 1s ease-in-out;
    background: #c63df3;
    border-radius: 10px;
}

.btn:hover svg {
    stroke-dashoffset: -480;
}

.btn span {
    font-size: 18px;
    font-weight: 100;
}