#guest-h1 {
    font-size: 3.5em;
}

.logo-guest-view img {
    width: 25%;
    height: 25%;
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
    float: left;
}

.club-info-div {
    width: -moz-fit-content;
    width: fit-content;
}
.club-info-div p {
    padding: 5px;
}

.buttons-index-no-user {
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-top: 5%;
}

.buttons-index-no-user button {
    background-color: deeppink;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


.container-guest-page {
    position: absolute;
    width: 100%;
    padding: 5%;
}