#guest-h1 {
    font-size: 3.5em;
}

.logo-guest-view img {
    width: 25%;
    height: 25%;
    margin-top: 20px;
    margin-left: 3%;
    margin-right: 5%;
    float: left;
}

@media (max-width: 991px) {
    .club-info-div {
        margin: 0;
        width: -moz-fit-content;
        width: fit-content;
        font-size: 20px;
    }
}


.club-info-div {
    margin: 100px;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 20px;
}

.main-container {
    margin: 100px auto;
}


.home-reg-log-buttons {
    width: 130px;
    height: 50px;
}

