#guest-h1 {
    font-size: 3.5em;
}

.logo-guest-view img {
    width: 25%;
    height: 25%;
    margin-top: 20px;
    margin-left: 3%;
    margin-right: 5%;
    float: left;
}

@media screen and (min-width: 900px) {
    .club-info-div {
      margin:10px;
    }
  }


.club-info-div {
    margin: 10%;
    margin-top: 5%;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 20px;
}

.main-container {
    margin: 100px auto;
}


.home-reg-log-buttons {
    width: 130px;
    height: 50px;
}

