#guest-h1 {
    font-size: 3.5em;
}

.logo-guest-view img {
    width: 25%;
    height: 25%;
    margin-top: 20px;
    margin-left: 3%;
    margin-right: 5%;
    float: left;
}

.club-info-div {
    margin-top: 20px;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 20px;
}
.club-info-div p {
    padding: 15px;
}

.container-guest-page {
    position: absolute;
    width: 100%;
    padding: 5%;
}



.home-reg-log-buttons{
    width: 150px;
}






/*//////////////////////////////////////////////////*/


