{% extends 'base/base.html' %}
{% load static %}
{% block dynamic_content %}


    <div class="contact-form">

        <h1 class="brand"><span>Contacta con nosotros</span></h1>

        <div class="wrapper">

            <!-- COMPANY INFORMATION -->
            <div class="company-info">
                <h3>Rítmica la Unió Viladecans</h3>

                <ul>
                    <li><i class="fa fa-road"></i> C/Pompeu Fabra, 5

                        08840 Viladecans
                    </li>
                    <li><i class="fa fa-phone"></i>+34 636 685 673</li>
                    <li><i class="fa fa-envelope"></i>c.ritmicaunioviladecans@gmail.com</li>
                </ul>
                <ul class="ul-social-icons">
                    <li><a class="social-icons" href="https://pako.es" target="new"><img
                            src="{% static 'social_icons/instagram.png' %}"
                            alt="instagram"/></a>
                    </li>
                    <li><a class="social-icons" href="https://pako.es" target="new"><img
                            src="{% static 'social_icons/facebook.png' %}" alt="facebook"/></a>
                    </li>
                    <li><a class="social-icons" href="https://pako.es" target="new"><img
                            src="{% static 'social_icons/youtube.png' %}" alt="youtube"/></a>
                    </li>
                    <li><a class="social-icons" href="https://pako.es" target="new"><img
                            src="{% static 'social_icons/twitter.png' %}" alt="twitter"/></a>
                    </li>
                </ul>
            </div>
            <!-- CONTACT FORM -->
            <div class="contact">

                <form id="contact-form">
                    <p>
                        <label>Nombre</label>
                        <input type="text" name="name" id="name" required>
                    </p>

                    <p>
                        <label>Apellido</label>
                        <input type="text" name="apellido" id="apellido">
                    </p>

                    <p>
                        <label>E-mail</label>
                        <input type="email" name="email" id="email" required>
                    </p>

                    <p>
                        <label>Número de teléfono</label>
                        <input type="text" name="phone" id="phone">
                    </p>

                    <p class="full">
                        <label>Mensaje</label>
                        <textarea name="message" rows="5" id="message"></textarea>
                    </p>

                    <p class="full">
                        <button type="submit">Enviar</button>
                    </p>

                </form>
            </div>
        </div>
    </div>

{% endblock %}