{% extends 'base/base.html' %}
{% load static %}
{% block dynamic_content %}
    <div class="trainers-body-container">
        <div class="row">
            <div class="column">
                <ul>
                    <li><h1>{{ gymnast.full_name }}</h1></li>
                    <li>Fecha de nacimiento: {{ gymnast.birthdate|date:"d M, Y" }}</li>
                    <li>Categoria: {{ gymnast.category }}</li>
                    <li>Entrena: {{ gymnast.train }}</li>
                    <li>Conjunto: {{ gymnast.team }}</li>
                    {% if gymnast.photo %}
                        <li><img src="{{ gymnast.photo.url }}" alt="gymnast photo"/></li>
                    {% endif %}
                    <li>{{ gymnast.description }}</li>
                    {#                    {% for com in competition.competition_name %}#}
                    {#                        <ul>#}
                    {#                        <li>{{ com.as_p }}</li>#}
                    {#                        </ul>#}
                    {#                    {% endfor %}#}
                </ul>

                {% if user.is_superuser %}
                    <a href="{% url 'edit gymnast' gymnast.pk %}">
                        <button class="home-reg-log-buttons">Editar</button>
                    </a>
                    <a href="{% url 'delete gymnast' gymnast.pk %}">
                        <button class="home-reg-log-buttons">Borrar</button>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}