{% extends 'base/base.html' %}
{% load static %}
{% block dynamic_content %}
    <div class="trainers-body-container">
        <div class="row">
            <div class="column">
                <ul>
                    <li><h1>{{ gymnast.full_name }}</h1></li>
                    <li>Fecha de nacimiento: {{ gymnast.birthdate|date:"d M, Y" }}</li>
                    <li>Categoria: {{ gymnast.category }}</li>
                    <li>Entrena: {{ gymnast.train }}</li>
                    <li>Conjunto: {{ gymnast.team }}</li>
                    {% if gymnast.photo %}
                        <li><img src="{{ gymnast.photo.url }}" alt="gymnast photo"/></li>
                    {% endif %}
                    <li>{{ gymnast.description }}</li>
                </ul>


                {% if user.is_superuser %}
                    <a href="{% url 'edit gymnast' gymnast.pk %}">
                        <button class="home-reg-log-buttons">Editar</button>
                    </a>
                    <a href="{% url 'delete gymnast' gymnast.pk %}">
                        <button class="home-reg-log-buttons">Borrar</button>
                    </a>
                {% endif %}
            </div>
            <div class="notes-individual">
                <h2>Notas Individual</h2>
                <table style="width:100%">
                    <tr>
                        <th>Competicion</th>
                        <th>Fecha</th>
                        <th>Nota</th>
                        <th>Clasificada</th>
                    </tr>
                    {% for n in notesIndividual %}
                        <tr>
                            <td>{{ n.competition }}</td>
                            <td>{{ n.competition.competition_date }}</td>
                            <td>{{ n.nota_competition }}</td>
                            <td>{{ n.competition_place_on_board }}</td>

                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}