{% extends 'base/base.html' %}
{% load static %}
{% block dynamic_content %}
    <div class="container-inline">
        <section id="welcomePage">
            <div id="welcome-message">
                <h1>Bienvenidos a</h1>
                <h1>Club Rítmica la Unió Viladecans !</h1>
            </div>
        </section>

        <!-- Registration -->
        <section class="register-container">
            <form method="POST">

                    {{ form }}
                    {% csrf_token %}

                    <div class="center">
                        <button class="btn">
                            <svg width="180px" height="60px" viewBox="0 0 180 60" class="border">
                                <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line"/>
                                <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line"/>
                            </svg>
                            <span>Confirmar</span>
                        </button>
                    </div>
            </form>
        </section>
    </div>
{% endblock %}


