{% extends 'base/base.html' %}
{% load static %}
{% block dynamic_content %}
    <div class="trainers-body-container">
        <div class="row">
            {% for club_trainer in object_list %}
                <div class="column">
                    <ul>
                        <li>{{ club_trainer.first_name }} {{ club_trainer.last_name }}</li>
                        <li>Fecha de nacimiento: {{ club_trainer.birthdate }}</li>
                        <li>Entrena: {{ club_trainer.train }}</li>
                        <li><img src="{{ club_trainer.photo.url }}" alt="trainer photo"/></li>
                        <li>{{ club_trainer.description }}</li>
                    </ul>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}