{% extends 'base/base.html' %}
{% load static %}
{% block dynamic_content %}


    <div class="contact-form">

        <h1 class="brand"><span>Contacta con nosotros</span></h1>

        <div class="wrapper">

            <div class="company-info">
                <h3>Rítmica la Unió Barcelona</h3>
                {% if message_name %}
                    <h2> Gracias {{ message_name }}</h2>
                    <p>Hemos recibido su mensaje,contestaremos en breve..</p><br><br><br>
                {% endif %}


                <ul>
                    <li><i class="fa fa-road"></i> C/Some Street, 15
                        08840 Barcelona
                    </li>
                    <li><i class="fa fa-phone"></i>+34 111 111 111</li>
                    <li><i class="fa fa-envelope"></i>club@club.com</li>
                </ul>
                <ul class="ul-social-icons">
                    <li><a class="social-icons" href="https://pako.es" target="new"><img
                            src="{% static 'social_icons/instagram.png' %}"
                            alt="instagram"/></a>
                    </li>
                    <li><a class="social-icons" href="https://pako.es" target="new"><img
                            src="{% static 'social_icons/facebook.png' %}" alt="facebook"/></a>
                    </li>
                    <li><a class="social-icons" href="https://pako.es" target="new"><img
                            src="{% static 'social_icons/youtube.png' %}" alt="youtube"/></a>
                    </li>
                    <li><a class="social-icons" href="https://pako.es" target="new"><img
                            src="{% static 'social_icons/twitter.png' %}" alt="twitter"/></a>
                    </li>
                </ul>
            </div>

            <div class="contact">
                <form id="contact-form" method="POST">
                    {{ form.as_p }}
                    {% csrf_token %}

                    <p class="full">
                        <button type="submit">Enviar</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

