{% extends 'base/base.html' %}
{% load static %}
{% block dynamic_content %}


    <div class="contact-form">

        <h1 class="brand"><span>Contacta con nosotros</span></h1>

        <div class="wrapper">

            <div class="company-info">
                <h3>Rítmica la Unió Viladecans</h3>

                <ul>
                    <li><i class="fa fa-road"></i> C/Pompeu Fabra, 5

                        08840 Viladecans
                    </li>
                    <li><i class="fa fa-phone"></i>+34 636 685 673</li>
                    <li><i class="fa fa-envelope"></i>c.ritmicaunioviladecans@gmail.com</li>
                </ul>
                <ul class="ul-social-icons">
                    <li><a class="social-icons" href="https://pako.es" target="new"><img
                            src="{% static 'social_icons/instagram.png' %}"
                            alt="instagram"/></a>
                    </li>
                    <li><a class="social-icons" href="https://pako.es" target="new"><img
                            src="{% static 'social_icons/facebook.png' %}" alt="facebook"/></a>
                    </li>
                    <li><a class="social-icons" href="https://pako.es" target="new"><img
                            src="{% static 'social_icons/youtube.png' %}" alt="youtube"/></a>
                    </li>
                    <li><a class="social-icons" href="https://pako.es" target="new"><img
                            src="{% static 'social_icons/twitter.png' %}" alt="twitter"/></a>
                    </li>
                </ul>
            </div>

            <div class="contact">
                <form id="contact-form">
                    {{ form.as_p }}
                    {% csrf_token %}

                    <p class="full">
                        <button type="submit">Enviar</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

