{% extends 'base/base.html' %}
{% load static %}
{% block dynamic_content %}
    {% include 'launio/messages.html' %}
    {% block content %}
    {% endblock content %}
    <div class="form">
        <form method="POST" enctype="multipart/form-data">
            {{ form.as_p }}
            {% csrf_token %}
            <div class="center">
                <button class="btn">
                    <span>Confirmar</span>
                </button>
            </div>
        </form>
    </div>
{% endblock %}
<script>
    setTimeout(function () {
        if ($('#msg').length > 0) {
            $('#msg').remove();
        }
    }, 2000)
</script>