{% extends 'base/base.html' %}
{% load static %}
{% block dynamic_content %}
    <div class="trainers-body-container">
        <div class="row">
            {% for gymnast in object_list %}
                <div class="column">
                    <ul>
                        <li><h1>{{ gymnast.full_name }}</h1></li>
                        {% if gymnast.photo %}
                        <li><img src="{{ gymnast.photo.url }}" alt="gymnast photo"/></li>
                        {%  endif %}
                    </ul>
                    <a href="{% url 'detail gymnast' gymnast.pk %}">

                        <button class="home-reg-log-buttons">Ver mas</button>
                    </a>
{#                    {% if user.is_superuser %}#}
{#                        <a href="">#}
{#                            <button class="home-reg-log-buttons">Editar</button>#}
{#                        </a>#}
{#                    {% endif %}#}
                </div>

            {% endfor %}
        </div>
    </div>
{% endblock %}