{% extends 'base/base.html' %}
{% load static %}
{% block dynamic_content %}

    <div class="container-guest-page">
        <div class="logo-guest-view">
            <img src="{% static 'images/club_photos/Logo.png' %}" alt="Logo">
        </div>

        <div class="club-info-div">
            <h3>Historia</h3>
            <br>

            <p>El Club Rítmica la Unió Viladecans se fundó en 2011 con la intención de poder fomentar la
                práctica
                de la
                gimnasia rítmica y de sus valores en la localidad de Viladecans.</p>


            <p>El club inició su actividad con 3 conjuntos de diferentes categorias de nivel UCEC formados por
                gimnastas
                que
                habían dado sus primeros pasos en la gimnasia rítmica en actividades extraescolares de
                diferentes
                colegios
                de
                Viladecans.</p>

            <p>Actualmente el club lo forma una familia compuesta por más de 100 niñ@s que practican este
                deporte a
                nivel
                de
                iniciación, tecnificación y competición.</p>

            <p>El club tiene presencia desde sus inicios en competiciones y torneos de individual y conjunto de
                nivel
                UCEC
                de
                toda Catalunya.</p>

            <p>En el año 2019, nos convertimos también en un club federado que participa en las competiciones
                organizadas
                por
                la federación catalana y torneos de este nivel.</p>
            <p>Objetivos:
                "Divertirnos practicando gimnasia rítmica"

                "Enseñar la importancia del trabajo en equipo, compañerismo y el respeto por los demás"

                "Fomentar la practica deportiva de la gimnasia rítmica.</p>

            <div class="home-bouth-buttons>">
                {% if not user.is_active %}
                    <a href="{% url 'register page' %}">
                        <button class="home-reg-log-buttons">Registrarte</button>
                    </a>
                    <a href="{% url 'login page' %}">
                        <button class="home-reg-log-buttons">Iniciar sesión</button>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
    {% csrf_token %}
{% endblock %}
